.content-section {
    background-image: url('img/Trader-chart.jpg');
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.form-group {
    font-style: italic;
}